.me-picture-container img{
  margin: 0rem;
  width: 25vw;
  height: auto;
  border-radius: -10% 0 0 10%;
  margin-right: 10px;
  outline: 4px;
  outline-color: var(--primary);
}

.me-picture-container{
  display: flex;
  justify-content: right;
  align-items: center;
}

/* import tailwindcss cause i dont want to do css responsitivity */


