:root{
    --primary: #00EEFF;
    --primary-dark: #00CDDB;
    --background:#171717;
}



html, body{
    /* background-color: var(--background); */
}
body::-webkit-scrollbar-track {
    background: var(--primary);        /* color of the tracking area */
}